#logins {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .btn-google {
    background-color: #db4437;
    color: white;
  }
  
  .btn-google:hover {
    background-color: #c33d30;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  h2 {
    font-family: 'Arial', sans-serif;
    color: #007bff;
  }
  
  .logo {
    width: 30%;
    display: block;
    margin: 0 auto 20px auto;
  }
  




















  .navbar-logo {
    width: 150px;
    height: 50px;
    margin-right: 15px;
  }
  
  .nav-link {
    font-weight: bold;
  }
  
  .navbar-toggler-icon {
    color: #007bff;
  }
  
  .btn-outline-danger {
    font-weight: bold;
  }
  
  .dropdown-menu {
    font-size: 0.9rem;
  }
  
  @media (max-width: 768px) {
    .navbar-logo {
      margin: 0 auto;
    }
  }
  